.git
.github
.idea
.DS_Store

**/.env
**/.env.local
**/.env.*.local

web/node_modules
web/dist
web/.vite
web/.cache

server/logs
server/main
server/runtime
server/temp
server/__debug_bin*
server/internal/packed/packed.go
server/resource/public/admin
server/manifest/config/config.yaml
server/storage/cache
server/storage/diskqueue

docker
docs
LICENSE
README.md
sidebar.md
